<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">RunnerGoGo</a>
      <div class="nav-collapse">
        <ul class="nav">
		<!-- TODO properly assign active - this could possibly be done by figuring out the current route and dynamically creating this list based on available pages in the views/pages folder-->
          <li id="home_nav" class="active"><a href="/">Home</a></li>
          <li id="about_nav"><a href="/about">About</a></li>
          <li id="contact_nav"><a href="/contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>