    <div class="container">
     <div class="row">
    	<div class="span12">	
          <h2>About RunnerGoGo</h2>
			<p>
				RunnerGoGo is here to give you some guidance in your journey to our next big run. The programs are fun, varied and targeted to getting you well prepared for for your event in an efficient and injury free manner. We are pretty opinionated, but thats just us. You can take or leave the information we provide, its all free and we don't get any kick-backs from stuff we recommend.
			</p>
			<p>
				Currently we are just supporting the dynamic creation of marathon and half marathon programs but we will have more soon. All you need to get started is an accurate 5km time trial. If you have not done a 5km time trial you could guess but it is best to hit the pavement or track so you can get the best program. Here at RunnerGoGo we love the <a href="http://www.garmin.com/">Garmin</a> <a href="http://www.garmin.com/uk/forerunner-series">forerunner series</a> of GPS enabled watches. For those of us that do not want custom equipment check out the <a href="http://www.mapmyrun.com/">MapMyRun.com</a>s <a href="http://www.mapmyrun.com/imapmy/">mobile solutions</a> so you can use your phone to help you track progress.
			If you are interested in some of the the ideas behind the programs check out the fantastic "Run Less, Run faster" or the Furman Institute of Running for their courses and additional info regarding performance distance running.
			</p>
			<h3>Off Days</h3>
			<p>
				We are also big fans of cross training to keep you active on you days off without overtraining. 
				<a href="http://www.crossfit.com/">CrossFit</a> training session on your off days are a great way to mix things up, but you could also do swimming, yoga, rowing, biking, martial arts, Pilates, rock climbing... anything that is relatively low impact to the lower body. Just make sure you are having at least one day off serious activity.
			</p>
			<h3>Recovery</h3>
			<p>
				Recovery is obviously a big aspect to training for an event. Massage is great but not something you can always get to or afford. <a href="http://www.tptherapy.com/">TriggerPoint therapy</a> offer fantastic products for self massage. These products are life savers after hard sessions. Not something you always want to do but always worth the effort.
			</p>
			<h3>Nutrition</h3>
			<p>
				We love Paleo-Zone... basically the zone diet (i.e. the break down of nutrients) with food choice from the Paleo diet (i.e. real food!). Its not for everyone but it sure beats bangers and mash for performance nutrition!
			</p>
		</div>
		<div class="span12">
          <h4>About RunnerGoGo site</h4>
			<p>
				This is site is hosted on <a href="http://Heroku.com">Heroku</a> and uses the <a href="http://www.sinatrarb.com/">Sinatra</a> framework along with Twitter's <a href="https://github.com/twitter/bootstrap/">Boostrap</a>. Thanks to all of those involved in those projects, they make building websites fun again.
			</p>
		 </div>
      </div>
    <%= partial(:footer) %>
    </div> <!-- /container -->