    <%= partial(:titlebar) %>

    <div class="container">

      <%= partial(:hero) %>

      <!-- Example row of columns -->
      <div class="row">
    	<div class="span12">
	
          <h2>Contact RunnerGoGo</h2>
			<p>
				Any issues...
			</p>
			
		 </div>
      </div>

    <%= partial(:footer) %>

    </div> <!-- /container -->