		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

		<!--<script src="bootstrapjs/jquery.js"></script>-->
		<script src="/bootstrapjs/bootstrap-transition.js"></script>
		<script src="/bootstrapjs/bootstrap-alert.js"></script>
		<script src="/bootstrapjs/bootstrap-modal.js"></script>
		<script src="/bootstrapjs/bootstrap-dropdown.js"></script>
		<script src="/bootstrapjs/bootstrap-scrollspy.js"></script>
		<script src="/bootstrapjs/bootstrap-tab.js"></script>
		<script src="/bootstrapjs/bootstrap-tooltip.js"></script>
		<script src="/bootstrapjs/bootstrap-popover.js"></script>
		<script src="/bootstrapjs/bootstrap-button.js"></script>
		<script src="/bootstrapjs/bootstrap-collapse.js"></script>
		<script src="/bootstrapjs/bootstrap-carousel.js"></script>
		<script src="/bootstrapjs/bootstrap-typeahead.js"></script>

	</body>
</html>