<!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Ready, Set, GoGo!</h1>
    <p>Welcome to RunnerGoGo.com where you can easily create an effective running plan for your next big event.</p>
    <p>
		<a class="btn btn-primary btn-large" href="/about">Learn more &raquo;</a>
		<button class="btn btn-success btn-large" onclick='$("#datepicker").focus()'>Get started &raquo;</button>
	</p>
  </div>
