<!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Ready, Set, RunnerGoGo!</h1>
    <p>Welcome to RunnerGoGo.com where you can easily create an effective running plan for your next big event.</p>
    <p><a class="btn btn-primary btn-large" href="/about">Learn more &raquo;</a></p>
  </div>