<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Runner Go Go</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" title="Default Style"/>
		<link type="text/css" href="css/ui-lightness/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="javascript/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="javascript/jquery-ui-1.8.19.custom.min.js"></script>
	</head>
	<body onkeyup="onButton()">
		<h1>
			Welcome to Runner Go Go
		</h1>
		Let us create a marathon training plan for you. We will need the results from a recent  5km time trial and then we can get started!
		<br/>
		<fieldset>
		<legend>Race plan</legend>
			Please enter your planned marathon date
			<input type="text" id="datepicker">
			<br/>
		
			Please enter your 5km time trial result
			<select name="minute" id="minute">
				<% (15..29).each do |minute| %>
				<option value="<%= minute %>"><%= minute %></option>
				<% end %>
			</select> minutes
		 
			<select name="second" id="second">
				<% ((0..59).select {|x| (x % 5) ==0}).each do |second| %>
				<option value="<%= second %>"><%= second %></option>
				<% end %>
			</select> seconds
			<br/>
			<button type="button" onclick="create_plan()">Create my plan</button>
		</fieldset>
	</body>
	<script type="text/javascript">
	$(function() {
			$("#datepicker").datepicker({ defaultDate: + (7 * 16) }); //default to 16 weeks
			var date = $("#datepicker").datepicker("getDate");
			$("#datepicker").datepicker("setDate", date);
	});
	function onButton()
	{
		if (event.keyCode == 13) 
		{
			create_plan();
		}
	}
	function create_plan()
	{
		var minDropDown = document.getElementById("minute");
		var minutes = minDropDown.options[minDropDown.selectedIndex].value;
		var secDropDown = document.getElementById("second");
		var seconds = secDropDown.options[secDropDown.selectedIndex].value;
		
		var date = $("#datepicker").datepicker("getDate");
		var year = date.getFullYear();
		var month = date.getMonth();
		var day = date.getDate();
		var href = "./racedate/" + day + "-" + month + "-" + year + "/fivekmtime/" + minutes + "m" + seconds + "s";
		document.location.href=href;
	}
	</script>
	
</html>
