<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Runner Go GO</title>
		<link rel="stylesheet" type="text/css" href="/style.css" title="Default Style"/>
	</head>
	<body>
		<h1>
			Welcome to Runner Go Go
		</h1>
		<a href="./racedate/14-05-2012/fivekmtime/21m35s">Create my plan</a>
	</body>
</html>
