   <div class="container">
      <%= partial(:"partials/hero") %>
      <div class="row">
    	<div class="span12">	
          <h2>Contact RunnerGoGo</h2>
			<p>
				Any issues...
			</p>			
		 </div>
      </div>
    <%= partial(:"partials/footer") %>
    </div> <!-- /container -->